{% extends "layout.html" %}

{% block title %}
    Compare Stats
{% endblock %}

{% block main %}
    <div id="primary" style="background-color:powderblue";>

    </div>

    <div class ="bg-light" id="content">
        <h1 class="display-1">Compare Stats</h1>
        <hr>
            <div class="container  ms-auto mt-2">
                <h4 id="col"><a   style="color:black" class="nav-link zoom" href="/comparenba">Compare with NBA player</a></h4>
                <h4 id="col"><a style="color:black" class="nav-link zoom" href="/compareuser">Compare with a user</a></h4>
            </div>

            <br><br><hr>

        </div>

    </div>

    <div id="secondary" style="background-color:powderblue";>
    </div>


{% endblock %}
